/*! This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

 @require "core/index"

.bz_alias_short_desc_container
  margin: 8px 0px
  padding: 0.3em
  border-radius: 0.5em 0 0.5em 0
  font-size: 130%
  font-weight: bold
  font-family: fonts
  background: -moz-linear-gradient(left, c38 0%, c39 48%, c40 62%, c41 64%, c38 100%)
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, c38), color-stop(48%, c39), color-stop(62%, c40), color-stop(64%, c41), color-stop(100%, c38))
  background: -webkit-linear-gradient(left, c38 0%, c39 48%, c40 62%, c41 64%, c38 100%)
  background: -o-linear-gradient(left, c38 0%, c39 48%, c40 62%, c41 64%, c38 100%)
  background: -ms-linear-gradient(left, c38 0%, c39 48%, c40 62%, c41 64%, c38 100%)
  background: linear-gradient(to right, c38 0%, c39 48%, c40 62%, c41 64%, c38 100%)
