/*! This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

 @require "core/index"

.number .bug_header,
.number .bug_header2
  gradient2(c30, c31)

tr.section_total
  border_colour = #881111
  color: #122112
  border-top: 2px border_colour
  border-bottom: 2px border_colour
  background: c32
  background: -moz-linear-gradient(left, c32 0%, c33 10%, c34 73%, c35 83%, c36 94%, c37 100%)
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, c32), color-stop(10%, c33), color-stop(73%, c34), color-stop(83%, c35), color-stop(94%, c36), color-stop(100%, c37))
  background: -webkit-linear-gradient(left, c32 0%, c33 10%, c34 73%, c35 83%, c36 94%, c37 100%)
  background: -o-linear-gradient(left, c32 0%, c33 10%, c34 73%, c35 83%, c36 94%, c37 100%)
  background: -ms-linear-gradient(left, c32 0%, c33 10%, c34 73%, c35 83%, c36 94%, c37 100%)
  background: linear-gradient(to right, c32 0%, c33 10%, c34 73%, c35 83%, c36 94%, c37 100%)
